extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id nunc nec nisi aliquam posuere vitae quis ante. Vestibulum et molestie justo. Nunc euismod nunc eu pulvinar ultricies. Cras suscipit metus dui, et dictum arcu auctor vel. Mauris imperdiet congue mauris, ac gravida ligula tincidunt sed. Aenean ultrices nunc at placerat malesuada. Fusce fermentum justo sit amet augue molestie, at facilisis augue placerat. Integer maximus nunc non dui sodales molestie. Sed tincidunt malesuada magna, id pulvinar felis iaculis eget. Integer sed augue nulla. Nullam aliquam imperdiet odio. Vestibulum nec molestie turpis.

                p Curabitur vitae bibendum ligula. Curabitur id odio id velit ullamcorper ultricies. Vivamus fermentum est a libero vulputate fermentum. Aenean auctor cursus massa. Phasellus lacinia nisi in lorem bibendum consectetur. Morbi laoreet nisl eget nulla iaculis tempus. Vestibulum euismod pellentesque pharetra.

                p Morbi sed iaculis felis. Nullam ac mauris in lectus placerat tristique. Curabitur dapibus, urna eu malesuada ornare, massa ex facilisis diam, et faucibus turpis ante in tortor. Sed at diam enim. Nullam tempor semper cursus. Donec bibendum scelerisque tortor sit amet viverra. Proin dignissim sit amet ipsum sit amet pretium.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nullam ac mauris in lectus placerat tristique. Curabitur dapibus, urna eu malesuada ornare, massa ex facilisis diam, et faucibus turpis ante in tortor. Sed at diam enim. Nullam tempor semper cursus.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nullam ac mauris in lectus placerat tristique. Curabitur dapibus, urna eu malesuada ornare, massa ex facilisis diam, et faucibus turpis ante in tortor. Sed at diam enim. Nullam tempor semper cursus. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Nullam ac mauris in lectus placerat tristique. Curabitur dapibus, urna eu malesuada ornare, massa ex facilisis diam, et faucibus turpis ante in tortor. Sed at diam enim. Nullam tempor semper cursus.  
